<appSettings>
  <add key="MailServer" value="dev-smtp.vidly.com" />
  <add key="FacebookAppId" value="1485256738210407" />
  <add key="FacebookAppSecret" value="5b2b4d06955e4119b60263753cdc833c" />
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>
